
body{
	margin: 0;
	background: url('reticular_tissue/reticular_tissue.png');
	box-sizing: border-box;
}
.imagen {
	text-align: center;

}

.imagen img{
	margin: 10px auto;
 	border-radius: 50%;
}

h1 {
	color: #333;
}

.personales {
	background: #05E596;
	margin: 20px;
	text-align: center;
	text-transform: uppercase;
}
.data {

	color: #000000;
	margin: 20px;
	font-size: 20px;
}
